<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(${team.name} + ' | 貸し借り見える化')"></head>
<body class="bg-light">
<header th:replace="common::header"></header>
<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link active" th:href="@{/team/} + ${team.id} + '/' + ${team.url}" th:text="${team.name}">Dashboard</a>
        <button type="button" class="nav-link border-0 bg-white" data-toggle="modal" data-target="#createLoan">
            貸し借り登録
        </button>
        <button type="button" class="nav-link border-0 bg-white" data-toggle="modal" data-target="#createMember">
            メンバー追加
        </button>
        <a class="nav-link" th:href="@{/team/} + ${team.id} + '/' + ${team.url} + '/setting'">チーム設定</a>
    </nav>
</div>
<main role="main" class="container">
<div class="alert alert-primary" role="alert"  th:if="${teamCreateSuccess}">チームを作成しました。このURLをブックマークしてお使いください。</div>
<div class="alert alert-primary" role="alert"  th:if="${teamUpdateSuccess}">チーム情報を更新しました。</div>
<div class="alert alert-danger" role="alert"  th:if="${memberCreateError}">メンバーの追加に失敗しました。</div>
<div class="alert alert-primary" role="alert"  th:if="${memberCreateSuccess}">メンバーを追加しました。</div>
<div class="alert alert-primary" role="alert"  th:if="${memberUpdateSuccess}">メンバー情報を更新しました。</div>
    <div class="alert alert-primary" role="alert"  th:if="${loanCreateSuccess}">貸し借りを登録しました。</div>
    <div class="alert alert-danger" role="alert"  th:if="${loanCreateError}">貸し借りの登録に失敗しました。</div>

    <div class="modal fade" id="createMember" tabindex="-1" role="dialog" aria-labelledby="createMemberLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" th:action="@{/team/} + ${team.id} + '/' + ${team.url} + '/member'">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createMemberLabel">メンバー登録</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">名前</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="名前">
                        </div>
                        <div class="form-group">
                            <label for="money">時給（円）</label>
                            <input type="text" name="money" class="form-control" id="money" placeholder="800">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">登録する</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createLoan" tabindex="-1" role="dialog" aria-labelledby="createLoanLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" th:action="@{/team/} + ${team.id} + '/' + ${team.url} + '/loan'">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createLoanLabel">貸し借り登録</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="fromMemberId">誰が</label>
                            <select id="fromMemberId" class="form-control" name="fromMemberId"><option th:each="member : ${members}" th:value="${member.id}" th:text="${member.name}"></option></select>
                        </div>
                        <div class="form-group">
                            <label for="toMemberId">誰に</label>
                            <select id="toMemberId" class="form-control" name="toMemberId"><option th:each="member : ${members}" th:value="${member.id}" th:text="${member.name}"></option></select>
                        </div>
                        <div class="form-group">
                            <label for="task">何を</label>
                            <input type="text" name="task" class="form-control" id="task" placeholder="雑用を">
                        </div>
                        <div class="form-group">
                            <label for="time">何時間</label>
                            <input type="text" name="time" class="form-control" id="time" placeholder="8">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">やってもらう</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">メンバー一覧</h6>
        <div class="media text-muted pt-3" th:each="member : ${memberDtoList}">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h4 class="text-gray-dark"  th:text="${member.name}">Full Name</h4>
                    <a href="#" th:href="@{/team/} + ${team.id} + '/' + ${team.url} + '/member/' + ${member.id}  + '/setting'">設定</a>
                </div>
                <span class="pt-2 d-block">時給:<span th:text="${member.money}"></span>円　作成日時:<span th:text="${member.createdAt != null}? ${#dates.format(member.createdAt,'yyyy/MM/dd hh:mm')} : ''"></span>　更新日時:<span th:text="${member.updatedAt != null}? ${#dates.format(member.updatedAt,'yyyy/MM/dd hh:mm')} : ''"></span>　ID:<span th:text="${member.id}"></span></span>
                <div class="pt-3">
                    <h5 class="pb-2"><span class="badge badge-danger">貸し</span></h5>
                    <ul class="list-group mb-3">
                        <li class="list-group-item list-group-item-light" th:each="loan : ${member.loanFrom}">
                            <span th:text="${loan.toMemberName}"></span>に<span th:text="${loan.time}"></span>時間<span th:text="${loan.task}"></span>をやってもらったよ
                        </li>
                    </ul>
                    <h5 class="pb-2"><span class="badge badge-warning">借り</span></h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light" th:each="loan : ${member.loanTo}">
                            <span th:text="${loan.fromMemberName}"></span>に言われて<span th:text="${loan.time}"></span>時間<span th:text="${loan.task}"></span>をやらされるよ
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>




<div th:replace="common :: foot-asset"></div>
</body>
</html>